.ikkebryt {
  white-space: nowrap;
}
/* Grunnleggende tabell styling */
#content-area .node table,
.maxtable table {
  font-size: 12px;
  width: 100%;
 }
 
thead th {
   background: #EBECE3;
   color: #333;
   padding: 10px 10px 3px 10px;
   font-size: 14px;
   text-transform: uppercase;
 }

table td {
  padding: 3px 10px 10px 10px;
}

tr.even,
tr.odd,
td.active {
  background: #fff;
  color: #333;
}

table caption {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

/* Styling av tabeller men mere selektivt */

th.views-field-field-event-date-value,
th.views-field-field-seildato-value {
  white-space: nowrap;
}

.views-field-field-nummer-value {
  text-align: right;
}

.sidebar td {
  padding: 3px 0 10px 0;
  font-size: 12px;
}

.sidebar td.views-field-field-seildato-value,
td.views-field-field-loggen-fart-value {
  padding-right: 12px;
}

/*
 * Images styling
 */
 
.imagecache-thumb,
.imagecache-Small {
  float: left;
  margin: 0 20px 10px 0;
}

.views-row-9  .imagecache-thumb {
  margin-right: 0;
}

.field-field-artikkelbilde-extra img,
.floated img,
.view-Spot-logg-bilder img {
   float: left;
   margin: 0 20px 10px 0;
 }

.field-field-artikkelbilde-extra {
  background: #EBECE3;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ACACA6;
} 

.clearall {
  clear: both;
}

.submitted {
}

/*
 * Definerer en generell tekstbasert knapp.
 */
.button {
  width: 150px;
  font-size: 18px;
}

.button.right {
  float: right;
  text-align: right;
}

.button a {
  padding: 3px 10px;
}

.button a:link,
.button a:visited {
  color: #6699CC;
  font-family: helvetica, arial;
}

.button a:hover {
 background: #6699CC;
 color: #eee;
 text-decoration: none;
 border: 1px solid #555;
}

.debug {
  border: 2px dotted red;
}

.field-label {
  font-weight: bold;
}

/* 
 *
 ***** Jcarousel global styling *****
 *
 */

.jcarousel-clip-horizontal ul {
  padding: 0;
  margin: 0;
}

.jcarousel-next,
.jcarousel-prev  {
  background-color: #000;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter:alpha(opacity=6);
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  top: 69px;
}

.views_slideshow_singleframe_pager.numbered {
  background: #6699CC;
  color: #fff;
  font-family: helvetica;
  padding: 5px 3px;
  border: 1px solid #ddd;
}

.views_slideshow_singleframe_pager.numbered a {
  color: #fff;
  text-align: center;
}

.views_slideshow_singleframe_pager.numbered a.activeSlide {
  font-size: 18px;
}

/*
 *
 ***** Jcarousel og block-styling bare til blokken på forsiden *****
 *
 */

#block-panels_mini-forside_karusell {
  font-size: 12px;
  color: #eee;
  background-color: #333;
}

#block-panels_mini-forside_karusell table {
  margin: 0;
}

#mini-panel-forside_karusell .jcarousel-container-horizontal {
  width: 420px;
  height: 130px;
  padding: 20px;
}

.pane-loggen-bilder {
  float: left;
  margin-right: 20px;
}

.pane-loggen-siste {
  width: 220px;
  float: left;
}

#block-panels_mini-forside_karusell .views-field-field-mindag-value p {
  margin: 0;
}

#block-views-loggen_bilder-block_1 .jcarousel-container-horizontal {
  width: 450px;
}

#block-views-loggen_bilder-block_1 .jcarousel-clip-horizontal {
  width: 450px;
  height: 133px;
}

#block-views-loggen_bilder-block_1 .jcarousel-item-horizontal {  
  width: 133px;
  height: 133px;
  margin-right: 20px;
}

#mini-panel-forside_karusell .jcarousel-clip-horizontal {
  width: inherit;
}

#mini-panel-forside_karusell .jcarousel-item-horizontal {
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

#block-panels_mini-forside_karusell .views-field-title {
  text-transform: uppercase;
}

/*
 *
 ***** Weather modulen *****
 *
 */

.sidebar .weather .image,
.front .weather .image {
  display: none;
}

.region-content-top .weather {
  width: 180px;
  float: left;
  margin-right: 30px;
  font-size: 12px;
  color: #333;
}

ul.metar_data {
  margin: 0;
  padding: 0;
}

ul.metar_data li {
  list-style: none;
}

/*
 *
 ***** Service link module *****
 *
 */

.service-links {
  font-size: 12px;
  clear: both;
  background: #EBECE3;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid #ACACA6;
}

.service-links img {
  vertical-align: text-bottom;
}

.service-links ul.links {
  display: inline;
  vertical-align: top;
}

/* IMCE styling */
#content-area .defaultSkin table.mceLayout tr.mceFirst td {
  background: #EBECE3;
  border-top: 1px solid #ACACA6;
}

#content-area .defaultSkin table.mceLayout tr.mceLast td {
  background: #EBECE3;
}

#content-area .defaultSkin .mceButton {
  border: 1px solid #ACACA6;
}

#content-area .defaultSkin a.mceButtonActive, 
#content-area .defaultSkin a.mceButtonSelected {
  background-color: #6699CC;
  border: 1px solid #2A3D5C;
}

.content .defaultSkin table, 
.content .defaultSkin tbody, 
.content .defaultSkin a, 
.content .defaultSkin img, 
.content .defaultSkin tr, 
.content .defaultSkin div, 
.content .defaultSkin td, 
.content .defaultSkin iframe, 
.content .defaultSkin span, 
.content .defaultSkin *, 
.content .defaultSkin .mceText {
  color: #333;
}

div#calpopup {
  width: 460px;
}

.item-list {
  clear: both;
}
