.profile {
}

ul.profile {
  list-style: none;
  padding: 20px 10px;
  background: #fff;
  border: 1px solid #ddd;
}

ul.profile li {
  padding-top: 10px;
  border-bottom: 1px solid #eee;
}

.profile h3 {
  border: none;
}

#user-region1 {
  width: 298px;
  float: left;
  margin: 0 20px 20px 0;
  background: #eee;
  border: 1px solid #ccc;
}

#user-region1-inner {
  padding: 10px;
}
  
#user-region2 {
  width: 380px;
  float: left;
}

#user-region2 table {
  margin-top: 0;
}

.bilder {
  background: #333;
  color: #eee;
  padding: 10px 0;
}

.user-picture {
}

.profile .picture {
  float: left;
  margin: 0;
}

.picture.missing {
  width: 265px;
  height: 200px;
  border: 2px solid #ddd;
  padding: 5px;
  float: none;
  margin: 0 0 10px 0;
  text-align: center;
  color: #999;
  background: url(../images/user.png) no-repeat 60px 20px;
}

.imagecache-thumb, .imagecache-Small {
  float: none;
  margin: 0;
}

.view-user-bilder .views-row {
  float: left;
  margin: 10px 4px 0 0;
}

.view-user-bilder .views-row-6 {
  margin-right: 0;
}

.user_log {
  margin-top: 20px;
}

.missing_data {
  padding: 0 10px;
  color: #ccc;
}